<div class="container">
    <div class=" text-center mat-typography">
      <div>
        <h2 class="pt-3 mat-headline panel-title fw-bold">
         Student Activities
        </h2>
      </div>
    </div>

    <div class="container-fluid col-12 d-flex justify-content-start justify-content-between ps-0 pe-0">
     
      
      <div class="search d-flex justify-content-start">
      <input matInput class="search-input ps-3 pe-3 bg-white shadow-lg"   placeholder='Search' (keyup)="applyFilter($event.target.value)" >
      <mat-icon class="search-icon fw-bold text-white shadow-lg">search</mat-icon>
    </div>
    </div>
  
    <div class="d-flex flex-lg-row flex-column shadow-lg my-4 fixed-height">
        <div
          class="child-height w-100 overflow-scroll data-table bg-white"
        >
          <table
          class="w-100 h-75"
            mat-table
            [dataSource]="dataSource"
            matSort
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 px-2">
                No.
              </th>
              <td class="px-2" mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="fw-bold px-2 fs-6" mat-sort-header="">
               Activity Name
              </th>
              <td class="px-2" mat-cell *matCellDef="let activity">{{ activity.name }}</td>
            </ng-container>
            <ng-container matColumnDef="description" class="nickName">
              <th mat-header-cell *matHeaderCellDef class="fw-bold px-2 fs-6" >
                Activity Description
              </th>
              <td class="px-2" mat-cell *matCellDef="let activity">{{ activity.decription }}</td>
            </ng-container>

            <ng-container matColumnDef="register">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="update-icon">
                <mat-icon class="table-button" matTooltip="register in activity" (click)="register()">add</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="update-icon">
                <mat-icon class="table-button" matTooltip="edit" (click)="fetchData(element)">edit</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell class="px-2 delete-icon" *matCellDef="let element">
                <mat-icon class="table-button" matTooltip="delete" (click)="openConfirmationDialog(element)"
                  >delete</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="transacion">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell class="transacion-icon" *matCellDef="let element">
                <mat-icon  matTooltip="add transacion" matTooltipClass="mat-tooltip" class="fw-bold fs-2 me-1" (click)="openConfirmationDialog(element)" >compare_arrows</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
  
        <div class="col-lg-4 p-3 bg-light">
          <section>
            <div>
              <div class="panel-heading pt-3 ps-1 mb-5">
                <h3 class="panel-title float-start">
                  {{
                    activityForm.controls["id"].value
                      ? ("update")
                      : ("add")
                  }}
                   activities
                </h3>
                <mat-icon
                  class="add-icon me-4 float-end"
                  (click)="restartForm()"
                  [hidden]="!activityForm.controls['id'].value"
                >
                  add</mat-icon
                >
              </div>
            </div>
            <div class="panel-body">
              <form [formGroup]="activityForm">
                <fieldset class="row justify-content-center">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Activity Name</mat-label>
  
                    <input
                      class="m-0 p-0"
                      formControlName="name"
                      type="text"
                      matInput
                      placeholder="Enter activity Name "
                    />
                
                    <mat-error
                      *ngIf="
                        activityForm.controls['name'].hasError('required')
                      " >اسم النشاط 
                  <strong> مطلوب</strong>
                    </mat-error>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="100">
                    <mat-label>Activity description</mat-label>
                    <input
                      formControlName="decription"
                      type="text"
                      matInput
                      placeholder="Activity description"
                    />
                  </mat-form-field>
  
                 
                </fieldset>
              </form>
            </div>
  
            <div class="actions pb-3 float-end">
              <button
                class="form-button btn mx-1"
                (click)="onSubmit()"
              >
                {{
                 activityForm.controls["id"].value
                    ? ("update" )
                    : ("add")
                }}
              </button>
              <button class="form-button btn mx-1" mat-button (click)="resetForm()">
                {{
                  activityForm.controls["id"].value
                    ? ("reset")
                    : ("clear")
                }}
              </button>
            </div>
          </section>
        </div>
    </div>
  </div>
  
