<div class="main">
    
      <div class="land-container d-flex justify-content-start align-items-center ">
        <div class="w-50 ms-5">
        <p class=" pragraph fs-1 fw-bold">Let’s Start Your Student Activity</p>
        <p class="pra fs-5 fw-bold w-75 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolores,
           autem incidunt quod illum consectetur
           temporibus aut cum. Ab quae quibusdam cum facere rem debitis error dolore soluta saepe officiis!</p>
      </div>
    </div>
    
        <div  class="row  justify-content-center align-items-center justify-content-around " >
        <div class=" col-md-4 col-sm-10 mt-5 text-center">
          <p class="fs-3 fw-bold ">Student Activities </p>
          <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, 
            nostrum? Corrupti, odit velit. Quisquam ipsum quo tenetur ad quam optio ratione
            
          </p>
          <button type="button" class="btn mt-3" mat-raised-button >Learn More</button>
        </div>
        <div class="col-md-5 col-sm-10 mt-3">
          <img class="img-card mt-5 me-5 w-100" src="/assets/images/stds.jpg">
        </div>
        </div>
    
   

    
      <div class=" programes-container mt-5">
      <div class="w-100 text-center">
       <h2 class="fs-2 fw-bold text-black" >Our Programmes</h2>
      </div>
        <div class="programes h-100 ">
        <div class="row justify-content-around ">
        <div class="col-md-4 col-sm-10 mt-5"><img class="w-75 ms-5 card-img h-50" src="/assets/images/full-programm.jpg">
          <h3 class="text-center text-black mt-3 fw-bold">Interview Preparation</h3>
          <p class="text-center text-black mt-3 w-75 ms-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, harum! Fugiat,
             quaerat repellendus quis consequatur repudiandae ipsam tempore iste,
             </p>
            <button type="button" class="more-btn btn position-relative mt-4 me-3" mat-raised-button >Learn More</button>
        </div>
       
        <div class="col-md-4 col-sm-10 mt-5">  <img class="w-75 ms-5 card-img h-50" src="/assets/images/review-cv.png">
          <h3 class="text-center text-black mt-3 fw-bold">Review Your CV</h3>
          <p class="text-center text-black mt-3 w-75 ms-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, harum! Fugiat,
            quaerat repellendus,</p>
            <button type="button" class=" more-btn btn position-relative mt-5" mat-raised-button >Learn More</button>
        </div>

          <div class="col-md-4 col-sm-10 mt-5"> 
        <img class="w-75 ms-5 card-img h-50 " src="/assets/images/test-skills.png">
          <h3 class="text-center text-black mt-3 fw-bold">Test Your Skills</h3>
          <p class="text-center text-black mt-3 ms-5  w-75">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, harum! Fugiat,
            quaerat repellendus quis consequatur repudiandae ipsam tempore iste,</p>
            <button type="button" class=" more-btn btn  position-relative mt-3" mat-raised-button >Learn More</button>
        </div>
      </div>
        </div>
      </div>
</div>

  