<div class="text-center" >
    <p class="fs-3 fw-bold mt-3 title" >Activities</p>
    <mat-divider class="mb-4"></mat-divider>
    <p>
      <a mat-button routerLinkActive="" routerLink="home" class="fs-5" 
        ><mat-icon class="fs-2 me-3 mb-1" >home</mat-icon>Home</a
      >
    </p>
    <p>
      <a mat-button routerLinkActive="" routerLink="uni"  class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" >home</mat-icon>Unveristies</a
      >
    </p>
    <p>
      <a mat-button routerLinkActive="" routerLink="faculty"  class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" >home</mat-icon>Faculty</a
      >
    </p>
    <p>
      <a mat-button routerLinkActive="" routerLink="activity"  class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" >person</mat-icon>Activity</a
      >
    </p>
    <p>
      <a mat-button routerLinkActive="" routerLink="about"  class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" >person</mat-icon>About Us</a
      >
    </p>
    <p>
      <a mat-button routerLinkActive="" routerLink="contact"  class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" >person</mat-icon>ContactUs</a
      >
    </p>
  </div>
   

  
