.title{
    color:  #556B2F;
}

a:active,
a:focus{
    background-color: black;
    padding: 10px;
}

.mat-divider {
     border-top-width: 3px; 
     border-color: black;
 }

 a{
    color:  #556B2F;
 }
