@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #556B2F
}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* account */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #556B2F;
  background: #556B2F;
  color: rgb(247, 243, 245);
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background: rgb(11, 11, 11);
  color: #f5eff3;
}
.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #556B2F;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}
.account-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}
.account-form #close-form:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.account-form form {
  border: 0.1rem solid #556B2F;
  padding: 2rem;
  display: none;
}
.account-form form.active {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #1d2d02;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  font-size: 1.5rem;
  color: #f7f3f3;
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 1.5rem;
  color: #f5f2f2;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color:rgb(249, 244, 247);
}
.account-form form .btn {
  width: 100%;
}
.account-form .buttons .btn {
  margin: 0 0.5rem;
}
.account-form .buttons .btn.active {
  background: #556B2F;
  color: #f4f1f3;
}

.heading-link {
  text-align: center;
  background: #d6e4bc;
  background-size: cover;
  background-position: center;
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #070707
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content .about-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #100f0f;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #0f0f0f;
  padding: 1rem 0;
}
.about .content .icons-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .content .icons-container .icons {
  flex: 1 1 16rem;
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #556B2F;
  background: #556B2F;
}
.about .content .icons-container .icons img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.about .content .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #040404;
}
.about .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #060606;
}

/* Footer */
.footer {
  background: #556B2F;
  
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #060606;
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: rgb(16, 15, 16);
}
.footer .box-container .box .share {
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.7rem;
  background-color: rgb(242, 234, 239);
  color:  #556B2F;
  margin-right: 0.5rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background-color: #080808;
  color: white;
}
.footer .box-container .box .link {
  font-size: 1.2rem;
  line-height: 2;
  color: #ede8e8;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: #fafdf7;
  text-decoration: underline;
}
.footer .box-container .box p {
  font-size: 1rem;
  line-height: 2;
  color: #f0f0f0;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1rem;
  border: 0.1rem solid #556B2F;
  margin-bottom: 1rem;
}
.footer .box-container .box .btn{
  border: 0.1rem solid rgb(232, 228, 230);
}
.footer .box-container .box .btn:hover{
 background-color: rgb(12, 0, 0);
}
section {
  padding: 5rem 10%;
}


/* Teacher */
.teachers .heading {
  text-align: center;
  font-size: 4.5rem;
  text-transform: capitalize;
  margin: 3rem 0;
}
.teachers-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.teachers .slide {
  text-align: center;
}
.teachers .slide:hover .image img {
  background:#556B2F;
}
.teachers .slide:hover .image .share {
  bottom: 0;
}
.teachers .slide .image {
  position: relative;
  overflow: hidden;
}
.teachers .slide .image img {
  background:#556B2F;
  width: 100%;
}
.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
.teachers .slide .image .share a:hover {
  color: #556B2F;
}
.teachers .slide .content {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-around;
}
.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #090707;
}
.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #121111;
}

/* Reviews  */
.reviews .reviews-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.reviews .slide {
  text-align: center;
}
.reviews .heading {
  text-align: center;
  font-size: 4.5rem;
  text-transform: capitalize;
  margin: 3rem 0;
}

.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #060505;
  position: relative;
  background:#556B2F;
  border: 0.1rem solid #556B2F;
  margin-bottom: 3rem;
  padding: 2rem;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  background: #0a080a;
  border-bottom: 0.1rem solid #556B2F;
  height: 2rem;
  width: 2rem;
}
.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.reviews .slide .stars {
  font-size: 1.2rem;
  color: #556B2F;
}

/* End Reviews */